html {
  font-size: 14px;
}

.min-w-auto {
  min-width: auto;
}

.min-h-auto {
  min-height: auto;
}

@for $i from 1 through 20 {
  .gap-#{$i} {
    gap: 4px * $i;
  }
}

@for $i from 1 through 10 {
  .opacity-#{$i * 10} {
    opacity: 0.1 * $i !important;
  }
}

h2.v-card-title {
  font-size: 1.71428571rem;
  font-weight: 400;
}

.text-xxx-large {
  font-size: 2rem !important; // 28px
  font-weight: 400;
}
.text-xx-large {
  font-size: 1.71428571rem !important; // 24px
  font-weight: 400;
}
.text-x-large {
  font-size: 1.42857143rem !important; // 20px
  font-weight: 400;
}
.text-large {
  font-size: 1.28571429rem !important; // 18px
  font-weight: 400;
}
.text-medium {
  font-size: 1.14285714rem !important; // 16px
  font-weight: 400;
}
.text-normal {
  font-size: 1rem !important; // 14px
  font-weight: 400;
}
.text-semi-small {
  font-size: 1.08333333rem !important; // 13px
  font-weight: 400;
}
.text-small {
  font-size: 0.85714286rem !important; // 12px
  font-weight: 400;
}
.text-tiny {
  font-size: 0.83333333rem !important; // 10px
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}
.text-weight-medium {
  font-weight: 500;
}

// Vuetify style overwrite

.v-btn--variant-outlined {
  background: #FFFFFF !important;
  border: thin solid #DCDDE5 !important;
}
.v-btn--variant-plain {
  background: #FFFFFF !important;
  &.elevation-2 {
    box-shadow: 0 2px 0 2px rgba(0, 0, 0, .1) !important;
  }
}

.v-field--variant-outlined.v-field--focused .v-field__outline__start,
.v-field--variant-outlined.v-field--focused .v-field__outline__end {
  border-color: #2155D9;
}
